{% extends "base.html" %}
{% block title %}Contraseña actualizada · {{ block.super }}{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-5">
        <div class="notification is-success">
            <h1 class="title is-4">Tu contraseña fue actualizada</h1>
            <p>Ya puedes continuar navegando con tu nueva clave.</p>
        </div>
        <div class="buttons">
            <a class="button is-primary" href="{% url 'profiles:profile_detail' %}">Volver a mi ficha</a>
            <a class="button is-light" href="{% url 'profiles:profile_list' %}">Ir al listado del curso</a>
        </div>
    </div>
</div>
{% endblock %}